@model SGVT.Models.Producto
@*@model SGVT.ViewModels.ProductoCreateViewModel*@

@{
    ViewData["Title"] = "Create";
}

<h2>Registrar Producto</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NpNombre" class="control-label">Nombre del Producto :</label>
                <input asp-for="NpNombre" class="form-control" />
                <span asp-validation-for="NpNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NpDescripcion" class="control-label">Descripción :</label>
                <input asp-for="NpDescripcion" class="form-control" />
                <span asp-validation-for="NpDescripcion" class="text-danger"></span>
            </div>
            @*----------Insertar imagen--------*@
            <div class="form-group row ">
                <label asp-for="Imagen" class="col-sm-12 col-form-label">Imagen</label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input asp-for="Imagen" name="file" type="file" class="form-control custom-file-input" />
                        <label class="custom-file-label">Sube un Archivo</label>
                        @*<span asp-validation-for="Imagen" class="text-danger"></span>*@
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EstadoProducto" class="control-label">Estado del Producto</label>
                <br />
                @*<input asp-for="EstadoProducto" class="form-control" />*@
                <select asp-for="EstadoProducto" id="estado" name="estado" >
                    <option value="true">Visible</option>
                    <option value="false">Oculto</option>
                </select>
                <span asp-validation-for="EstadoProducto" class="text-danger"></span>
            </div>
            <br />
            <br />
            <div class="form-group">
                <input type="submit" value="Registrar Producto" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var filename = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(filename);
            });
        });
    </script>

    @*<script type="text/javascript">
        function ShowSelected() {
            /* Para obtener el valor */
            var cod = document.getElementById("estado").value;
            alert(cod);

            /* Para obtener el texto */
            var combo = document.getElementById("estado");
            var selected = combo.options[combo.selectedIndex].text;
            alert(selected);
        }
    </script>*@

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
