@model SGVT.Models.Producto

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PkIdProducto" />
            <div class="form-group">
                <label asp-for="NpNombre" class="control-label"></label>
                <input asp-for="NpNombre" class="form-control" />
                <span asp-validation-for="NpNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NpDescripcion" class="control-label"></label>
                <input asp-for="NpDescripcion" class="form-control" />
                <span asp-validation-for="NpDescripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoProducto" class="control-label"></label>
                <input asp-for="EstadoProducto" class="form-control" />
                <span asp-validation-for="EstadoProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
